
body {
    background-image: url("images/orbit.jpg");
    background-position: center;
    background-size: contain;
    background-color: lightblue;
    text-align: center;
    margin: 5% 16%;
}

ul {
    list-style: none;   
    content: 20% 20% 20% 20%; /*top right bottom left */
    padding: 20px;
  }

li:before {
    content: '🌙';
    margin-left: -20px;
    margin-right: 10px;
    }

h1 {
  color: white;
  font-style: normal;
  font-size: 2em

}
h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.8em;
    font-style: italic;
    font-weight: 600;
    text-decoration: underline overline;
}

p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.7em;
}

article{
    display: inline-block;
    background-color: rgb(240, 198, 205);
    border-radius: 2%;
    padding: 1%;
    margin: 2%;
}

footer{
    color: bisque
}
.footerDiv{
    display: inline-block;
    background-color: rgba(255, 254, 253, 0.5);
    padding: 1px 8px 1px 8px;
}

header{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    font-style: italic;
    font-weight: 600;
}

img {
    width: 33%;
    
    height: 450px;
    object-fit: cover;
  }

.bigimage {
    width: 100%;
    object-fit: contain;
}

.icon{
    width: 15px;
    height: 15px;
}